<%
    address = ""
    address.concat(@account[:billing_street]) if @account[:billing_street].present?
    address.concat(", ") if @account[:billing_street].present? && @account[:billing_city].present?
    address.concat(@account[:billing_city]) if @account[:billing_city].present?
    address.concat(", ") if @account[:billing_city].present? && @account[:billing_state].present?
    address.concat(@account[:billing_state]) if @account[:billing_state].present?
    address.concat(" ") if @account[:billing_postal_code].present?
    address.concat(@account[:billing_postal_code]) if @account[:billing_postal_code].present?

    revenue = ""
    revenue = number_to_currency(@account[:annual_revenue], precision: 0) if @account[:annual_revenue].present?

    notes = ""
    notes = @opportunity.notes[0].body.html_safe if @opportunity.notes.any?
%>
<style type="text/css">@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);</style>
<style>
html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}
body {
    font-size: 1.6rem;
    color: #595959;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.Widget {
    display: block;
    position: relative;
    margin-bottom: 2rem;
    padding: 15px 20px;
    background: #fff;
    border-radius: 0.2rem;
}
.Widget-widgetBody {
    margin-top: 15px;
}
.Widget-full {
    display: block;
    width: 100%;
}
.Widget-half {
    display: inline-grid;
    width: 50%;
}
.Widget-title {
    margin-top: 0;
    color: #444;
    font-weight: bold;
}
.Widget-controls {
    text-align: right;
}
.Table {
    width: 100%;
    border-collapse: collapse;
    margin: 2rem 0 4rem;
    border-bottom: 1rem solid #FFFFFF;
    font-size: 1.6rem;
}
.Table-row--header {
    background: #F2F2F2;
    font-size: 1.6rem;
    text-align: left;
}
.Table-row {
    background: #FFFFFF;
    border-bottom: 1px solid #F2F2F2;
}
.Table-cell--header {
    border: 2px solid #FAFAFA;
}
.Table-cell {
    position: relative;
    padding: 1rem;
}
.IntelligenceQuestions-container {
    margin-bottom: 3rem;
}
.IntelligenceQuestions-title {
    font-weight: bold;
}
.IntelligenceQuestions-answer {
    margin-top: 1rem;
}
.PartnerOpportunityTable-table {
    font-size: 1.6rem;
}
.Contacts-container {
    margin-bottom: 3rem;
}
.Contacts-name {
    font-weight: bold;
}
.CallNotes-body {
    white-space: pre-line;
}
.new-page {
    page-break-before: always;
}
</style>
<div class="App-body">
    <div class="App-header">
        <div class="App-headerContent">
            <div class="Header">
                <div class="Header-content">
                    <div class="Header-logo">
                        <img class="Header-logo--image" src="https://s3.amazonaws.com/test.1tap.ontappipeline.com/cdn/images/otp-logo.png"></div>
                    </div>
                    <div class="Header-center"></div>
                </div>
            </div>
        </div>
        <div>
            <div class="Widget-full">
                <section class="Widget">
                    <h2 class="Widget-title">Opportunity Datasheet</h2>
                    <div class="Widget-widgetControls">Lead ID: <%= @opportunity.lead_id__c %></div>
                    <div class="Widget-widgetBody Widget-widget-body">
                        <div>
                            <h1 class="Dashboard-account--title"><%= @opportunity.name %></h1>
                        </div>
                        <div>
                            Initial Discovery Call scheduled for: <%= @opportunity.meeting_date_time__c.in_time_zone("America/New_York").strftime("%m/%d/%Y %I:%M %p %Z") %>
                        </div>
                    </div>
                </section>
                <section class="Widget">
                    <h3 class="Widget-title">Company Information</h3>
                    <div class="Widget-widgetControls"></div>
                    <div class="Widget-widgetBody Widget-widget-body">
                        <div>
                            <div>Address: <%= address %></div>
                            <div>Industry: <%= @account[:industry] %></div>
                            <div>Revenue: <%= revenue %></div>
                            <div>Website: <%= @account[:website] %></div>
                        </div>
                    </div>
                </section>
                <section class="Widget">
                    <h3 class="Widget-title">Company Description</h3>
                    <div class="Widget-widgetControls"></div>
                    <div class="Widget-widgetBody Widget-widget-body">
                        <div>
                            <%= @account[:description] %>
                        </div>
                    </div>
                </section>
                <section class="Widget">
                    <h3 class="Widget-title">Contacts</h3>
                    <div class="Widget-widgetControls"></div>
                    <div class="Widget-widgetBody Widget-widget-body">
                        <div>
                            <%
                            @contacts.each do |c|
                            %>
                            <div class="Contacts-container">
                                <div class="Contacts-name"><%= c[:name] %>, <%= c[:title] %><% if (c[:is_primary]) %> (primary)<% end %></div>
                                <div><%= c[:email] %></div>
                                <div><%= c[:phone] %></div>
                                <div><%= c[:role] %></div>
                            </div>
                            <%
                            end
                            %>
                        </div>
                    </div>
                </section>
                <section class="Widget new-page">
                    <h3 class="Widget-title">Intelligence Questions</h3>
                    <div class="Widget-widgetControls"></div>
                    <div class="Widget-widgetBody Widget-widget-body">
                        <%
                          @questions.each do |q|
                        %>
                        <div class="Widget-full IntelligenceQuestions-container">
                            <div class="IntelligenceQuestions-title"><%= q[:question] %></div>
                            <div class="IntelligenceQuestions-answer"><%= @opportunity.send("intelligence_question_" + q[:question_number]) %></div>
                        </div>
                        <%
                          end
                        %>
                    </div>
                </section>
                <section class="Widget new-page">
                    <h3 class="Widget-title">Call Notes/Additional Comments</h3>
                    <div class="Widget-widgetControls"></div>
                    <div class="Widget-widgetBody Widget-widget-body">
                        <div class="CallNotes-body">
                            <div><%= notes %></div>
                        </div>
                    </div>
                </section>
                <section class="Widget">
                    <h3 class="Widget-title">Action Items</h3>
                    <div class="Widget-widgetControls"></div>
                    <div class="Widget-widgetBody Widget-widget-body">On Tap Pipeline will send prospect and partner an email confirming the meeting time. 24-48 hours prior to appointment, On Tap Pipeline will re-confirm with prospect via email/phone.</div>
                </section>
            </div>
        </div>
    </div>
</div>
